

<%= render "menubar" %>
<div class="container">
  <div class="mobile-header-section">
    <h4 class="page-header">Available Parking</h4>
    <p class="page-subheader">Select a place to park or search by zipcode.</p>

    <%= form_tag(spots_path, method: :get) do %>
      <%= text_field_tag :zip, nil, placeholder: "Search Zip Codes", :maxlength => 5 %>
      <%= submit_tag 'Search', class: "btn #42a5f5 blue lighten-1", id: "search-button" %>
    <% end %>
  </div>

    <% unless @spots.nil? %>
      <% @spots.each_with_index do |spot, i| %>
        <div class="card">
          <div class="card-image">
            <div class= "gmap" id="map<%= i %>"></div>

          </div>
          <div class="card-content">
            <h4><%= spot.street %></h4>
            <p class="spot-info">Description: <%= spot.description %></p>
            <p class="spot-info">City: <%= spot.city %></p>
            <p class="spot-info">Zip: <%= spot.zip %></p>
            <p class="spot-info">$<%= spot.price %>.00/hr</p>
          </div>
          <div class="card-action">
            <a href="#" class="waves-effect btn #ef6c00 orange darken-3">Park Here</a>
          </div>

        </div>
      <% end  %>
    <% end  %>

</div>
<script type="text/javascript">
  initMap();
</script>

<%= paginate @spots %>
