<% current_user.bookings.each do |booking| %>
  <div class="card">
    <div class="card-content">
      <h5>Current Parking</h5>
        <p><%= booking.availability.spot.street %></p>
        <p><%= booking.availability.spot.description %></p>
          <p>Parking Valid Until: </p><%= booking.availability.from.strftime("%I:%M %p") %>
          </p><%= booking.availability.from.strftime("%m/%d/%Y") %></p>
    </div>
    <div class="card-action">
      <p><%= link_to dashboard_path(booking.availability.spot), class: "", id:"dashboard-hosting-button" do %>
        Get Directions<i class="small material-icons">directions</i>
      <% end %></p>
      <% if booking.time_remaining %>
        <i class="small material-icons">av_timer</i><p>You have <%= booking.time_remaining %> left on your parking reservation!</p>
      <% else %>
        <i class="small material-icons">av_timer</i><p>Your parking reservation has expired!</p>
      <% end %>
      <p><%= link_to booking,  method: :delete, id:"dashboard-hosting-button", data: { confirm: 'Are you sure you want to cancel?' } do %>
        Cancel Parking<i class="small material-icons">cancel</i>
      <% end %></p>
    </div>
  <% end %>
  </div>
