
<div class="dashbackground">

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= render 'spots/form' %>
    </div>
  </div>

  <div class="row">
    <!-- DESKTOP VIEW (Sidebar) -->
    <div class="hide-on-small-only">
      <div class="row">
        <!-- Sidebar panel -->
        <%= render 'left_sidebar' %>

        <!-- Page content  -->
        <div class="col s9">
          <!-- Dashboard Search Bar -->
          <%= render 'searchbar' %>

          <!-- Dashboard main content -->
          <div class="" id="dash-container">
            <div class="row">
              <div class="col s8">
                <div id="mapDash"></div>

                <!-- Reserved Spots Column -->
                <%if current_user.bookings.empty? %>
                  <div class="col s6" id="reserved-spots">
                    <h5>No reserved parking spots.</h5>
                    <div id="datetime"></div>
                    <p>Find convenienet & affordable parking <a href="/spots">here!</a></p>
                  </div>

                <% else %>
                  <div class="col s6" id="reserved-spots">
                    <h4 class="user-host-title">Your Reserved <br>Parking Spots</h4>
                    <div class="dash-reservations">
                      <%= render 'reservation_card'%>
                    </div>
                  </div>
                <% end %>

                <!-- Hosted Spots Column -->
                <div class="col s6" id="hosted-spots">
                  <!-- Display hosted locations if user is a host -->
                  <%if current_user.spots.empty? %>
                  <h5>You don't currently host any parking spots.</h5>
                  <p>Hosting is easy. Click <a href="spots/new">here</a> to become a host!</p>
                  <% else %>
                  <h4 class="user-host-title">Your Hosted <br>Parking Spots</h4>
                  <%= render 'hosting_card' %>
                  <% end %>
                </div>
              </div>
              <%= render 'right_sidebar' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- MOBILE VIEW (No Columns) -->
      <div class="hide-on-med-and-up">
        <div class="card">
          <div class="card-content">
            <h5>Your bookings</h5>
              <%= link_to "Park Now", spots_path, id: "", class: "waves-effect btn #ef6c00 orange darken-3" %>
          </div>
        </div>

        <div>
          <div class="card">
            <div class="card-content">
              <h5>Become A Host</h5>
              <%= link_to 'Add Location', new_spot_path, class: "waves-effect btn #42a5f5 blue lighten-1", remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      initialize()
    </script>
