<!-- <h1>Dashboard#index</h1> -->
<script type="text/javascript" src="./assets/dashboard.js">

</script>

<script type="text/javascript">
  initMap()
</script>

<div class="dashbackground">

  <%= render "menubar" %>
  <!-- section 1 -->
  <div class="container">
    <div class="dashsection1">
      <h3>Dashboard</h3>
      <h5>Welcome, <%= current_user.name %>!</h5><br>
      <%= image_tag('car.png') %>
    </div>
  </div>

  <div class="row">
    <div class="col s6" id="left">
      <div class="card">
        <div class="card-content">
          <h5>Your bookings</h5>
        </div>
      </div>
    </div>

    <div class="col s6" id="right">
      <div class="card">
        <div class="card-content">
          <h5>Become A Host</h5>
          <%= link_to 'Add Location', new_spot_path, class: "waves-effect btn #ef6c00 orange darken-3" %>
        </div>
      </div>


          <h5>Your Hosted Parking Spots</h5>
          <% @spots.each_with_index do |spot, index| %>
            <% if spot.user_id == current_user.id %>
              <div class="card">
                <div class="card-image">
                  <div class="gmap" id="map<%= index %>"></div>
                </div>
                <div class="card-content">
                  <h4><%= spot.street %></h4>
                  <p><%= spot.city %></p>
                  <p><%= spot.zip %></p>
                  <p><%= spot.description %></p>
                </div>
                <div class="card-action">
                  <a href="#" class="waves-effect btn #ef6c00 orange darken-3">Edit your spot</a>
                  <%= link_to "Delete", spot_path(spot), :method => :delete, class: "waves-effect btn #ef6c00 orange darken-3" %>
                </div>
              </div>
            <% end %>
          <% end %>

    </div>
  </div>

  <!-- section 2 -->
  <div class="dashsection2">
    <div class="row">
      <div class="col s12 m7">

      </div>
    </div>

    <!-- section 3 -->

    <div class="dashsection3">


    </div>
  </div>
