<div class="dashbackground">

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <%= render partial: 'spots/form', spot: @spot %>
  </div>
</div>

    <div class="row">
      <!-- DESKTOP VIEW (Sidebar) -->
      <div class="hide-on-small-only">
         <div class="row">
          <!-- Sidebar panel -->
          <div class="col s3" id="dashboard-sidebar">
              <div class="dashboard-welcome">
                <div class="dashboard-welcome-content">
                  <h5>Welcome, <%= current_user.name %>!</h5>
                  <p><%= current_user.email %></p>
                  <p><%= current_user.phone_number %></p>
                </div>
                <div class="dashboard-user-photo">
                  <p>Upload Photo</p>
                </div>
              </div>
              <div class="dash-sidebar-links">
                <a href="/spots", class="waves-effect btn #ef6c00 orange darken-3", id="become-host-button"><i class="small material-icons">directions_car</i>Park Now</a>
                <a class="waves-effect btn #42a5f5 blue lighten-1 modal-trigger" href="#modal1" id="become-host-button"><i class="small material-icons">add_location</i>Become A Host</a>
                <li><a class="dash-sublinks" href="/bookings">Bookings</a></li>
                <li><a class="dash-sublinks" href="#">Earnings</a></li>
                <li><a class="dash-sublinks" href="#">Refer A Friend</a></li>
                <li><a class="dash-sublinks" href="#">Support</a></li>
              </div>
          </div>


          <!-- Page content  -->
          <div class="col s9">
            <!-- Dashboard Search Bar -->
            <div class="dash-search-bar">
              <h5>Search Parking Near You</h5>
              <%= form_tag(spots_path, method: :get) do %>
                <%= text_field_tag :zip, nil, placeholder: "Search Zip Codes", :maxlength => 5 %>
                <%= submit_tag 'Search', class: "btn #42a5f5 blue lighten-1", id: "search-button" %>
              <% end %>
            </div>

            <!-- Dashboard main content -->
            <div class="container" id="dash-container">
              <div class="row">
                <div class="col s8">
                  <div id="mapDash"></div>

                  <!-- Reserved Parking Spots -->
                  <%if current_user.bookings.empty? %>
                    <h5>No reserved parking spots.</h5>
                    <div id="datetime"></div>
                    <p>Find convenienet & affordable parking <a href="/spots">here!</a></p>
                  <% else %>
                    <h5>Your Reserved Parking Spots</h5>

                    <div class="dash-reservations">
                      <% current_user.bookings.each do |booking| %>
                        <li>
                          <%= booking.availability.start_time %> - <%= booking.availability.end_time %>
                          <%= booking.availability.spot.street %>
                          <%= booking.availability.spot.city %>
                          <%= link_to 'Get Directions' %>
                        </li>
                        <% end %>
                      </div>
                  <% end %>

                  <!-- Display hosted locations if user is a host -->
                  <%if current_user.spots.empty? %>
                    <h5>You don't currently host any parking spots.</h5>
                    <p>Hosting is easy. Click <a href="spots/new">here</a> to sign up!</p>
                  <% else %>
                    <h5>Your Hosted Parking Spots</h5>
                    <% @spots.each_with_index do |spot, i| %>
                      <% if spot.user_id == current_user.id %>
                        <div class="card">
                          <div class="card-content">
                            <h4><%= spot.street %></h4>
                            <p><%= spot.city %></p>
                            <p><%= spot.zip %></p>
                            <p><%= spot.price %></p>
                            <p><%= spot.description %></p>
                            <% spot.availabilities.each do |x| %>
                              <p>Available from: <%= x.start_time %></p>
                              <p>Until<%= x.end_time %></p>
                            <% end %>
                          </div>
                      <% end  %>
                          <div class="card-action" id="hosting-spots-card">
                            <%= link_to new_spot_availability_path(spot), class:"", id:"dashboard-hosting-button" do %>
                            Availability<i class="small material-icons">timer</i>
                            <% end %>
                            <%= link_to "Edit your spot", edit_spot_path(spot), :method => :update, class: "", id:"dashboard-hosting-button" %>
                            <%= link_to spot_path(spot), :method => :delete, class: "", id:"dashboard-delete-button" do %>
                              Remove<i class="small material-icons">delete</i>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                  <% end %>
                </div>

                <!-- Right Sidebar Content? -->
                <div class="col s4">

                  <!-- Stripe connect card -->
                  <div class="card small">
                    <div class="card-image">
                      <div id="refer-a-friend">
                        <%= image_tag("stripe.png") %>
                      </div>
                    </div>
                    <!-- Stripe connect card Content -->
                    <div class="refer-a-friend">
                      <h5>Connect with Stripe</h5>
                      <p>Hosts and users can quickly process payments with Stripe!</p>
                    </div>
                  </div>

                  <!-- Refer a friend -->
                  <div class="card small">
                    <div class="card-image">
                      <div id="refer-a-friend">
                        <%= image_tag("referAFriend.jpg") %>
                      </div>
                    </div>
                    <!-- Refer a friend Content -->
                    <div class="refer-a-friend">
                      <h5>Refer A Friend</h5>
                      <p>Earn extra cash by becoming a host and referring a friend to do the same!</p>
                    </div>
                  </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- MOBILE VIEW (No Columns) -->
      <div class="hide-on-med-and-up">
        <div class="card">
          <div class="card-content">
            <h5>Your bookings</h5>
              <%= link_to "Park Now", spots_path, id: "", class: "waves-effect btn #ef6c00 orange darken-3" %>
          </div>
        </div>

        <div>
          <div class="card">
            <div class="card-content">
              <h5>Become A Host</h5>
              <%= link_to 'Add Location', new_spot_path, class: "waves-effect btn #42a5f5 blue lighten-1", remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      initialize()
    </script>
