
<div class="background-image">
  <%= render "menubar" %>
  <div class="headline">
    <h1>DriveWaze</h1>
    <h4 id="subheadline">Find an easy and affordable place to park hosted by community locals.</h4>
    <a id="parkbutton" class="waves-effect btn #ef6c00 orange darken-3">park now</a><br>
    <%= image_tag("white-down-arrow.png") %>
  </div>

</div>

<div class="container">
  <div class="section2">
    <h3 id="process">How it works?</h3>

    <div class="icon1">
      <%= image_tag("select.png") %>
      <h4 class="icon-heading">Select</h4>
      <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>

    <div class="icon2">
      <%= image_tag("reserve.png") %>
      <h4 class="icon-heading">Reserve</h4>
      <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>

    <div class="icon3">
      <%= image_tag("park.png") %>
      <h4 class="icon-heading">Park</h4>
      <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>
  </div>
</div>

  <div class="section3">
    <h3 id="testimonial-headline">Hear what others are saying</h3>
    <div class="testimonials">
      <%= image_tag 'wyncode_photo.jpg', style:"height: 125px; width: 125px;", class:"testimonial-photo" %><br>
      <%= image_tag "5star_review.png", style:"height: 50px", class:"testimonial-stars" %>
      <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et."</p>
      <p class="testimonial-name">Alex Evans</p>

      <%= image_tag 'MeltzerShoshana.jpg', style:"height: 125px; width: 125px;", class:"testimonial-photo" %><br>
      <%= image_tag "5star_review.png", style:"height: 50px", class:"testimonial-stars" %>
      <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et."</p>
      <p class="testimonial-name">Shoshana Meltzer</p>
  </div>
</div>

<div class="container center">
  <iframe
    width="500"
    height="500"
    frameborder="0" style="border:0"
    src= "https://www.google.com/maps/embed/v1/search?key=<%="#{ENV["EMBED_API"]}"%>&q=parking+lots+in+Miami">
</iframe>
<!-- </div>

<div class="container" id="mapContainer">
  <div id="map">

  </div>

</div> -->
