
<div class="background-image">
  <div class="headline">
    <h1>DriveWaze</h1>
    <h4 id="subheadline">Find an easy and affordable place to park hosted by community locals.</h4>
    <%= link_to "Park Now", spots_path, id: "parkbutton", class: "waves-effect btn #ef6c00 orange darken-3" %><br>

    <%= image_tag("white-down-arrow.png") %>
  </div>

</div>

<div class="container">
  <div class="section2">
    <h3 id="process">How it works?</h3>

    <div class="icon1">
      <%= image_tag("select.png") %>
      <h4 class="icon-heading">Select</h4>
      <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>

    <div class="icon2">
      <%= image_tag("reserve.png") %>
      <h4 class="icon-heading">Reserve</h4>
      <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>

    <div class="icon3">
      <%= image_tag("park.png") %>
      <h4 class="icon-heading">Park</h4>
      <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>
  </div>
</div>

  <div class="section3">
    <h3 id="testimonial-headline">Hear what others are saying</h3>
    <div class="testimonials">
      <%= image_tag 'wyncode_photo.jpg', style:"height: 125px; width: 125px;", class:"testimonial-photo" %><br>
      <%= image_tag "5star_review.png", style:"height: 50px", class:"testimonial-stars" %>
      <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et."</p>
      <p class="testimonial-name">Alex Evans</p>

      <%= image_tag 'MeltzerShoshana.jpg', style:"height: 125px; width: 125px;", class:"testimonial-photo" %><br>
      <%= image_tag "5star_review.png", style:"height: 50px", class:"testimonial-stars" %>
      <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et."</p>
      <p class="testimonial-name">Shoshana Meltzer</p>
  </div>
</div>

<div class="map-section">
  <h4 id="map-section-headline">Plentifull Parking</h4>
  <p id="map-section-subheadline">There's always parking available with DriveWaze.</p>
  <iframe id="gmap-home"
    width="370"
    height="370"
    frameborder="0" style="border:0"
    src= "https://www.google.com/maps/embed/v1/search?key=<%="#{ENV["EMBED_API"]}" %>&q=parking+lots+in+Miami">
</iframe><br>
<%= link_to "Park Now", spots_path, class: "waves-effect btn #ef6c00 orange darken-3" %>
  <!-- <a id="parkbutton" class=>park now</a><br> -->
</div>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">DriveWaze</h5>
                <p class="grey-text text-lighten-4">Easy and affordable parking</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Legal info</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 DriveWaze
            </div>
          </div>
        </footer>
