
<div class="background-image">
  <div class="headline">
    <h1>DriveWaze</h1>
    <h4 id="subheadline">Find an easy and affordable place to park hosted by community locals.</h4>
    <%= link_to "Park Now", spots_path, id: "parkbutton", class: "waves-effect btn #ef6c00 orange darken-3" %><br>

    <span id="arrow"><%= image_tag("white-down-arrow.png") %><span>
  </div>

</div>

<div class="container">
  <div class="section2">
    <h3 id="process">How it works?</h3>

    <div class="icon1">
      <%= image_tag("select.png") %>
      <h4 class="icon-heading">Select</h4>
      <p class="icon-description">Find a parking spot conveniently near your destination.</p>
    </div>

    <div class="icon2">
      <%= image_tag("reserve.png") %>
      <h4 class="icon-heading">Reserve</h4>
      <p class="icon-description">Book and pay for your parking spot in just seconds.</p>
    </div>

    <div class="icon3">
      <%= image_tag("park.png") %>
      <h4 class="icon-heading">Park</h4>
      <p class="icon-description">Just click "get directions", and find the fastest route to your spot.</p>
    </div>

    <script type="text/javascript">
      window.sr = ScrollReveal({ duration: 2000 });
      sr.reveal('.icon1', 100);
      sr.reveal('.icon2', 200);
      sr.reveal('.icon3', 300);
    </script>
  </div>
</div>

  <div class="section3">
    <div class="center">
      <%= image_tag('quote_icon2.png') %>
    </div>

    <h3 id="testimonial-headline">Hear what others are saying</h3>

    <!-- Testimonials for Desktop -->
    <div class="hide-on-med-and-down">
      <div class="carousel carousel-slider center" id="review-slider" data-indicators="true">

        <div class="carousel-item #0098EC white-text" href="#one!">
          <div class="testimonials">
            <p class="testimonial-text">"Best app to ever come out of Wyncode. Really speaks to the talent of the creators"</p>
            <p class="testimonial-name">-Ed Toro</p>
          </div>
        </div>
        <div class="carousel-item #0098EC white-text" href="#two!">
          <div class="testimonials">
            <p class="testimonial-text">"This app is a big help!"</p>
            <p>-Ed Toro</p>
          </div>
        </div>
        <div class="carousel-item #0098EC white-text" href="three!">
          <div class="testimonials">
            <p class="testimonial-text">"OMG this app is sooooo great!"</p>
            <p class="testimonial-name">-Ed Toro</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonials for Tablet and mobile -->
    <div class="hide-on-large-only">
      <div class="testimonials">
        <%= image_tag 'wyncode_photo.jpg', style:"height: 125px; width: 125px;", class:"testimonial-photo" %><br>
        <%= image_tag "5star_review.png", style:"height: 50px", class:"testimonial-stars" %>
        <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et."</p>
        <p class="testimonial-name">Alex Evans</p>

        <%= image_tag 'MeltzerShoshana.jpg', style:"height: 125px; width: 125px;", class:"testimonial-photo" %><br>
        <%= image_tag "5star_review.png", style:"height: 50px", class:"testimonial-stars" %>
        <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et."</p>
        <p class="testimonial-name">Shoshana Meltzer</p>
      </div>
    </div>
  </div>

<div class="map-section">
  <!-- Desktop View Section 4-->
  <div class="hide-on-med-and-down">
    <div class="container">
      <div class="row" id="section4">
        <div class="col s6" id="section4-text">
          <h4 id="">Becoming A Host Is Easy!</h4>
          <p id="map-section-subheadline">Simply sign up, add the location of your host parking spot, and start earning. Set your hourly rate
          for your parking spot and collect payment securely through Stripe.</p>
          <p id="map-section-subheadline">Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p><br>
          <%= link_to "Become A Host", dashboard_index_path, class: "waves-effect btn #ef6c00 orange darken-3" %>
        </div>

        <div class="col s6">
          <iframe id="gmap-home"
            width="370"
            height="370"
            frameborder="0" style="border:0"
            src= "https://www.google.com/maps/embed/v1/search?key=<%="#{ENV["EMBED_API"]}" %>&q=parking+lots+in+Miami">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile View Section 4 -->
  <div class="hide-on-large-only">
    <h4 id="map-section-headline">Plentifull Parking</h4>
    <p id="map-section-subheadline">There's always parking available with DriveWaze.</p>
    <iframe id="gmap-home"
      width="370"
      height="370"
      frameborder="0" style="border:0"
      src= "https://www.google.com/maps/embed/v1/search?key=<%="#{ENV["EMBED_API"]}" %>&q=parking+lots+in+Miami">
    </iframe><br>
    <%= link_to "Park Now", spots_path, class: "waves-effect btn #ef6c00 orange darken-3" %>
  </div>
  </div>
