<!-- <h1>Spot#index</h1> -->
<%= render "menubar" %>
<div class="container">
  <h4>Available Parking</h4>

      <div class="card">
        <div class="card-image">

          <span class="card-title"><%#= Text over spot image %></span>
        </div>        
        <div class="card-content">
          <% @spot.each_with_index do |spot, i| %>
          <div class= "gmap" id="map<%= i %>">

          </div>
          <h4><%= spot.street %></h4>
          <p><%= spot.description %></p>
          <p><%= spot.city %></p>
          <p><%= spot.zip %></p>
          <p>$<%= spot.price %>.00/hr</p>
          <% end  %>
        </div>

        <div class="card-action">
          <a href="#" class="waves-effect btn #ef6c00 orange darken-3">Park Here</a>
        </div>
      </div>

</div>
