<%= render "menubar" %>
<%= current_user.email %>
<%= current_user.name %>
<div class="container">
  <h4>Available Parking</h4>

  <%= form_tag(spot_index_path, method: :get) do %>
    <%= text_field_tag :zip, nil, placeholder: "Search Zip Codes", :maxlength => 5 %>
    <%= submit_tag 'Search', class: "btn #42a5f5 blue lighten-1", id: "search-button" %>
  <% end %>

      <div class="card">
        <div class="card-image">

          <span class="card-title"><%#= Text over spot image %></span>
        </div>
        <div class="card-content">
          <% @spot.each_with_index do |spot, i| %>
          <div class= "gmap" id="map<%= i %>">

          </div>
          <h4><%= spot.street %></h4>
          <p class="spot-info">Description: <%= spot.description %></p>
          <p class="spot-info">City: <%= spot.city %></p>
          <p class="spot-info">Zip: <%= spot.zip %></p>
          <p class="spot-info">$<%= spot.price %>.00/hr</p>
          <% end  %>
        </div>

        <div class="card-action">
          <a href="#" class="waves-effect btn #ef6c00 orange darken-3">Park Here</a>
        </div>
      </div>

</div>

<%= paginate @spots %>
